<div>
  <div class="collapse collapse-open bg-blue-200 border shadow-xl data">
    <div class="bg-blue-200 p-4">
      <div class="controls">
        <button class="btn btn-md bg-gray-500 text-white float-left zoom-out" (click)="zoomOut()">-</button>
        <button class="btn btn-md bg-gray-500 text-white float-left zoom-in" (click)="zoomIn()">+</button>
      </div>
<button
      class="btn btn-md bg-gray-500 text-white float-right"
      [disabled]="running"
      (click)="start()"
    >
      start
    </button>
    </div>
  </div>
  </div>
  <div class="collapse collapse-open bg-blue-200 border shadow-xl data">
    <div class="grid-container"
    [style.gridTemplateColumns]="'repeat(' + column + ', 1fr)'"
    [style.gridTemplateRows]="'repeat(' + row + ', 1fr)'"
    [style.transform]="'scale(' + zoomLevel + ')'">
      @for (flies of fireflies; track $index) {
      <div class="grid-item">
        @if (flies > 3.14){
          <img src="assets/img/firefly_light.svg" class="scaled-image">
          
        }@else {
          <img src="assets/img/firefly_dark.svg" class="scaled-image">
          
        }
          
      </div>
    
    }
    </div>
  </div>